.container {
  width: 100vw;
  height: 100vh;
  background: #191622;
  overflow: hidden;
  border: 1px solid #5a4b81;
  display: flex;
  flex-direction: column;
}

header {
  width: 100%;
  height: 40px;
  position: relative;
  -webkit-user-select: none;
  -webkit-app-region: drag;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #252131;
}

header > strong {
  font-size: 13px;
  font-weight: 400;
  color: #e1e1e6;
}

.window-action {
  position: absolute;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  left: 16px;
}

.window-action:hover svg {
  display: block;
}

.window-action > button {
  -webkit-app-region: no-drag;
  border: 0;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window-action > button + button {
  margin-left: 8px;
}

.window-action > button svg {
  width: 8px;
  height: 8px;
  opacity: 0.9;
  display: none;
}

.window-action > button:hover svg {
  display: block;
}

.window-action > button:active {
  opacity: 0.6;
}

.window-action > button:focus {
  outline: 0;
}

.close {
  background: #e96379;
}

.minimize {
  background: #e7de79;
}

.maximize {
  background: #67e480;
}

.content {
  display: grid;
  grid-template-columns: 5vw 95vw;
  grid-template-rows: 1fr;
  grid-template-areas: "aside main";
  width: 100%;
  height: 100%;
}

aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  grid-area: "aside";
  width: 100%;
  min-width: 68.3px;
  max-width: 68.5px;
  border-right: 1px solid #252131;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 1rem;
  width: 100%;
}

.menu-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.menu-icon {
  height: 2rem;
}

#git {
  height: 2.5rem;
}

#connect {
  border-radius: 50%;
}

.dhl-icon {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  height: 4rem;
  width: 4rem;
}

.menu-icon-wrapper:hover {
  background: #201b2d;
  border-left: 3px solid red;
}

main {
  grid-area: "main";
  width: 100%;
  height: 100%;
  /* background-color: #e1e1e6; */
}

.not-active {
  display: none;
}

.menu-active {
  background: #201b2d;
  border-left: 3px solid red;
}
