* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  text-decoration: none;
}
body {
  color: #e1e1e6;
  background: transparent;
  -webkit-font-smoothing: antialiased;
}
body,
input,
button {
  font: 400 16px Roboto, sans-serif;
}
strong,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.05);
}

::-webkit-scrollbar-track {
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
}
